@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
  display: inline-block;
  width: 1px;
  height: 1em; /* Matches the height of the text */
  background-color: black;
  animation: blink 1s step-end infinite;
  vertical-align: bottom; /* Align the cursor with the text */
}
body {
  width: 95vw;
  margin: 0;
  margin: 0;
  /* height: auto; */
  scroll-behavior: smooth;
  padding: 0;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
